extends ../_extends/layout

block headex
	title LuluMachine 文本解析技术实验平台
	link(rel='stylesheet', href='tokenizer/style.css')
	script(src='_lib/ace/ace.js')
	script(src='tokenizer/main.js')

block bodyex
	include _include/navbar.jade
	.container-fluid
		.tabpanel
			.tab-content
				.tab-pane.fade.dev-area
					include _include.main/dev-area.jade
				.tab-pane.fade.input-area
					include _include.main/input-area.jade
				.tab-pane.fade.in.active.try-area
					include _include.main/try-area.jade