extends ../_extends/layout

block headex
	title 记号分割器 Tokenizer
	link(rel='stylesheet', href='tokenizer/style.css')
	script(src='tokenizer/main.js')

block bodyex
	include _include/navbar.jade
	.container-fluid
		.tabpanel
			.tab-content
				.tab-pane.fade.in.active.dev-area
					h1 dev area
				.tab-pane.fade.try-area
					h1 try area