.container-fluid
	.btn-toolbar.controlbar
		.btn-group
			a.btn.btn-default(v-on='click: onPlay', v-class='disabled: noPlay')
				i.fa.fa-play
				span &nbspPlay
			a.btn.btn-default(v-on='click: onPause', v-class='disabled: noPause')
				i.fa.fa-pause
				span &nbspPause
		a.btn.btn-default(v-on='click: onReset')
			i.fa.fa-circle-o-notch
			span &nbspReset
	.presentation
		h3 Input Text (len={{len}}, pos={{pos}})
		.segment-list
			.segment(v-repeat='segment : segmentList')
				.input
					.same-size.char-list
						span(v-repeat='char : segment.charList') {{char}}
					.same-size.index-list
						span(v-repeat='index : segment.indexList') {{index}}
				.tokenizer-list
					.tokenizer(v-repeat='tokenizer : segment.tokenizerList', v-class='winner : tokenizer.isWinner')
						.name
							span {{tokenizer.name}}
						.status.same-size
							span(v-repeat='status : tokenizer.statusList', v-class='status')
		.clearfix