.container-fluid
	.btn-toolbar
		.btn-group
			a.btn.btn-default 
				i.fa.fa-refresh
				span &nbspReset
		.btn-group
			a.btn.btn-default 
				i.fa.fa-play
				span &nbspPlay
			a.btn.btn-default.disabled
				i.fa.fa-pause
				span &nbspPause
		.btn-group
			a.btn.btn-default 
				i.fa.fa-fast-backward
				span &nbspFirst
			a.btn.btn-default
				i.fa.fa-step-backward
				span &nbspPrev
			a.btn.btn-default
				i.fa.fa-step-forward
				span &nbspNext
			a.btn.btn-default
				i.fa.fa-fast-forward
				span &nbspLast
