.container-fluid
	.btn-toolbar
		.btn-group
			a.btn.btn-default 
				i.fa.fa-play
				span &nbspPlay
			a.btn.btn-default.disabled
				i.fa.fa-pause
				span &nbspPause
		.btn-group
			a.btn.btn-default 
				i.fa.fa-fast-backward
				span &nbspFirst
			a.btn.btn-default
				i.fa.fa-step-backward
				span &nbspPrev
			a.btn.btn-default
				i.fa.fa-step-forward
				span &nbspNext
			a.btn.btn-default
				i.fa.fa-fast-forward
				span &nbspLast
		.btn-group
			a.btn.btn-default 
				i.fa.fa-refresh
				span &nbspReset
	.presentation
		h3 Input Text (len=24, pos=9)
		.segment-list
			.segment
				.input
					.same-size.char-list
						span H
						span E
						span L
						span L
						span O
						span ,
						span W
						span O
						span R
						span L
						span D
						span !
						span \n
					.same-size.index-list
						span 0
						span 1
						span 2
						span 3
						span 4
						span 5
						span 6
						span 7
						span 8
						span 9
						span 10
						span 11
						span 12
				.tokenizer-list
					.tokenizer
						.name tokenizer name
						.status.same-size
							span.accept
							span.accept
							span.accept
							span.reject
