.tabpanel {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
}

.tabpanel > .tab-content,
.tabpanel > .tab-content > .tab-pane {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
}

#srcEditor,
#txtEditor {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
}

.try-area {

}

.try-area .container-fluid {
	white-space: pre;
}

.try-area .presentation {
	font-family: Consolas;
	margin-bottom: 75px;
}

.try-area .presentation > div {
	margin-bottom: 15px;
}

.try-area .btn-toolbar {
	padding-top: 15px;
	position: fixed;
	left: 15px;
	bottom: 15px;
}

.try-area .btn-toolbar .btn {
	min-width: 105px;
}

.try-area .btn-toolbar .btn-group {
	margin-bottom: 10px;
}

.try-area .segment {
	margin-bottom: 45px;
	display: block;
	float: left;
}

.try-area .segment:not(:first-child) {
	border-left: solid 2px black;
	padding-left: 15px;	
}

.try-area .input .char-list > span {
	height: 48px;
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	cursor: pointer;
}

.try-area .input .char-list > span {
	background: white;
	color: #333;
	border: solid 1px #333;
}

.try-area .input .char-list > span:hover {
	background: #333;
	color: white;
}

.try-area .same-size > span {
	display: inline-block;
	width: 48px;
	margin-right: 15px;	
}

.try-area .index-list > span{
	text-align: center;
}

.try-area .tokenizer {
	margin-top: 15px;
}

.try-area .tokenizer .name {
}

.try-area .tokenizer .status > span {
	height: 4px;
	border-radius: 2px;
	background: black;
}

.try-area .tokenizer .status .yes {
	background: #00C0CF;
}

.try-area .tokenizer .status .no {
	background: #CF6600;
}